#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 > #backgroundBox {
  position: absolute;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 > #alignmentBox {
  position: relative;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rect_22 {
  position: absolute;
  width: 261.0px;
  height: 850.0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 {
  position: absolute;
  width: 260.9999855149087px;
  min-height: 72.71074661687709px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_4 {
  position: absolute;
  width: 202.6979260912707px;
  min-height: 73.84870347101469px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_4 span {
  color: #FD3593;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FD3593;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_44 {
  position: absolute;
  width: 18.27798843383789px;
  height: 23.58905029296875px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_54 {
  position: absolute;
  width: 12.183326721191406px;
  height: 2.605987548828125px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_55 {
  position: absolute;
  width: 12.183326721191406px;
  height: 2.605987548828125px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_56 {
  position: absolute;
  width: 5.771736145019531px;
  height: 2.605987548828125px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Line_5 {
  position: absolute;
  width: 259.785400390625px;
  height: 2.0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_62 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_62 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_62 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_62 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_62 span#rtr-s-Paragraph_62_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_46 {
  position: absolute;
  width: 24.626176834106445px;
  height: 11.4757080078125px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_48 {
  position: absolute;
  width: 6.411079406738281px;
  height: 6.41107177734375px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_52 {
  position: absolute;
  width: 8.565093994140625px;
  height: 8.565101623535156px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_53 {
  position: absolute;
  width: 6.41107177734375px;
  height: 6.41107177734375px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_43 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_2 {
  position: absolute;
  width: 202.6979260912707px;
  min-height: 73.84870347101469px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_65 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_65 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_65 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_65 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_65 span#rtr-s-Paragraph_65_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_45 {
  position: absolute;
  width: 21.299999237060547px;
  height: 20.880950927734375px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_66 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_66 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_66 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_66 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_66 span#rtr-s-Paragraph_66_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_47 {
  position: absolute;
  width: 19.238998413085938px;
  height: 19.2402400970459px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_57 {
  position: absolute;
  width: 7.634471893310547px;
  height: 7.634471893310547px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 input::-webkit-input-placeholder {
  color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 input::-moz-placeholder {
  color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 input:-moz-placeholder {
  color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 input:-ms-input-placeholder {
  color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 {
  position: absolute;
  width: 256.0px;
  height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 57px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_69 {
  position: absolute;
  width: 18.499996185302734px;
  height: 18.5px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Ellipse_2 {
  width: 17.0px;
  height: 17.00000000000003px;
  min-height: 17.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 8.0px;
  stroke: #79EEBC;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Ellipse_3 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #FD3593;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #79EEBC;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_57 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_57 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_57 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_57 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_57 span#rtr-s-Paragraph_57_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_63 {
  position: absolute;
  width: 9.92547607421875px;
  height: 1.8046112060546875px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_64 {
  position: absolute;
  width: 9.92547607421875px;
  height: 1.804595947265625px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_65 {
  position: absolute;
  width: 17.144023895263672px;
  height: 21.655622482299805px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_3 {
  position: absolute;
  width: 202.6979260912707px;
  min-height: 73.84870347101469px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button {
  position: absolute;
  width: 204.2175440579724px;
  min-height: 73.84870347101486px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_58 {
  position: absolute;
  width: 22.021373748779297px;
  height: 9.720035552978516px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_59 {
  position: absolute;
  width: 17.496139526367188px;
  height: 11.6253662109375px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_97 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_97 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_97 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_97 span {
  color: #4C5862;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_97 span#rtr-s-Paragraph_97_0 {
  color: #4C5862;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Mask_1 {
  position: absolute;
  width: 33.94529724121094px;
  height: 41.69012451171875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Path_37 {
  position: absolute;
  width: 10.11109733581543px;
  height: 7.345455169677734px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_58 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_58 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_58 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_58 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_58 span#rtr-s-Paragraph_58_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 500;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_59 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_59 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_59 .valign {
  vertical-align: top;
  text-align: right;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_59 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_59 span#rtr-s-Paragraph_59_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 8.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Line_6 {
  position: absolute;
  width: 1166.193603515625px;
  height: 3.0008621215820312px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 {
  position: absolute;
  width: 1147.599731445313px;
  min-height: 679.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 {
  position: absolute;
  width: 344.05577886104606px;
  min-height: 473.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 {
  position: absolute;
  width: 344.0557788610459px;
  min-height: 473.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #CBCBCB;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 {
  position: absolute;
  width: 339.57296741008753px;
  min-height: 511.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 {
  position: absolute;
  width: 339.5729674100878px;
  min-height: 511.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 {
  position: absolute;
  width: 359.7456189393995px;
  min-height: 565.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Image_1 {
  position: absolute;
  width: 59.39725172519718px;
  height: 70.60428035259257px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_1 {
  position: absolute;
  width: 128.8808292150497px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_1 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_1 {
  position: absolute;
  width: 224.14057254791254px;
  min-height: 123.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_1 span {
  color: #CBCBCB;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #CBCBCB;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_2 {
  position: absolute;
  width: 98.03590917587303px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_2 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Image_2 {
  position: absolute;
  width: 59.39725172519684px;
  height: 70.60428035259247px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_3 {
  position: absolute;
  width: 128.88082921504974px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_3 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_2 {
  position: absolute;
  width: 224.14057254791283px;
  min-height: 123.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_2 span {
  color: #CBCBCB;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #CBCBCB;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
  line-height: 17px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_4 {
  position: absolute;
  width: 112.07028627395584px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_4 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Image_3 {
  position: absolute;
  width: 73.96638894081138px;
  height: 88.53552615642545px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_5 {
  position: absolute;
  width: 128.88082921504974px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_5 span {
  color: #282828;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_3 {
  position: absolute;
  width: 235.34760117530823px;
  min-height: 122.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_3 span {
  color: #CBCBCB;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #CBCBCB;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_6 {
  position: absolute;
  width: 112.07028627395596px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_6 span {
  color: #B2B2B2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 {
  position: absolute;
  width: 160.0000000000001px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 {
  position: absolute;
  width: 160.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 {
  position: absolute;
  width: 160.00000000000023px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.0pt;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7930ee1-d87b-4b37-81ef-07476bfb38d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}