#s-de79d9aa-fa08-438a-9c28-8c34e303c9db > #backgroundBox {
  position: absolute;
}
#s-de79d9aa-fa08-438a-9c28-8c34e303c9db > #alignmentBox {
  position: relative;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-de79d9aa-fa08-438a-9c28-8c34e303c9db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}