#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd > #backgroundBox {
  position: absolute;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd > #alignmentBox {
  position: relative;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Image {
  position: absolute;
  width: 1441.88px;
  height: 850.0px;
  opacity: 0.3;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 {
  width: 860.0px;
  height: 420.0px;
  filter:  drop-shadow(-0.0px -0.0px 16px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 > .borderLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 > .backgroundLayer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph {
  position: absolute;
  width: 220.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph span#rtr-s-Paragraph_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph span#rtr-s-Paragraph_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph span#rtr-s-Paragraph_3 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 {
  position: absolute;
  width: 120.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999997%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 {
  position: absolute;
  width: 100.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999997%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 {
  position: absolute;
  width: 120.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999997%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_8 span#rtr-s-Button_8_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Dynamic_Panel_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 {
  width: 620.0px;
  height: 254.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_10 {
  position: absolute;
  width: 259.9999999999999px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 {
  position: absolute;
  width: 260.00000000000006px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_11 {
  position: absolute;
  width: 120.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 {
  position: absolute;
  width: 120.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 input {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.5pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_5 .icon {
  top: 6.199999999999999px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_12 {
  position: absolute;
  width: 120.0px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_12 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 {
  position: absolute;
  width: 120.0px;
  height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 input {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_6 .icon {
  top: 6.199999999999971px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_13 {
  position: absolute;
  width: 259.9999999999999px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_13 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 input::-webkit-input-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 input::-moz-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 input:-moz-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 input:-ms-input-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 {
  position: absolute;
  width: 259.9999999999999px;
  height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 .valign {
  vertical-align: middle;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_14 {
  position: absolute;
  width: 260.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_14 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 {
  position: absolute;
  width: 260.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Dynamic_Panel_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 {
  width: 620.0px;
  height: 254.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 > .borderLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_15 {
  position: absolute;
  width: 370.0px;
  min-height: 24.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_15 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 {
  position: absolute;
  width: 370.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Category_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_16 {
  position: absolute;
  width: 370.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_16 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 {
  position: absolute;
  width: 370.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 .valign {
  vertical-align: middle;
  line-height: 10.5pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 input {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.5pt;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_8 .icon {
  top: 6.199999999999999px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Image_1 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 {
  position: absolute;
  width: 370.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_17 span#rtr-s-Paragraph_17_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 input::-webkit-input-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 input::-moz-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 input:-moz-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 input:-ms-input-placeholder {
  color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 {
  position: absolute;
  width: 370.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 .valign {
  vertical-align: middle;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Input_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Dynamic_Panel_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 {
  width: 221.00000000000003px;
  height: 124.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 > .backgroundLayer > .colorLayer {
  background-color: #FF7AB8;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 > .backgroundLayer {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_18 {
  position: absolute;
  width: 221.0px;
  min-height: 70.85714285714278px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 {
  position: absolute;
  width: 71.95348837209315px;
  min-height: 35.42857142857149px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 100.0%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_9 span#rtr-s-Button_9_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 {
  position: absolute;
  width: 71.95348837209303px;
  min-height: 35.42857142857149px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 100.0%);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 > .borderLayer {
  border-top-width: 0.8px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0.8px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0.8px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Button_10 span#rtr-s-Button_10_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Ellipse_3 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FF7AB8;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Ellipse_4 {
  width: 12.0px;
  height: 12.0px;
  min-height: 12.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Path_1 {
  position: absolute;
  width: 431.0px;
  height: 1.7999999523162842px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_19 {
  position: absolute;
  width: 860.0px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_19 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd #s-Image_2 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f8e662f6-0758-4a60-a9c5-e1874fdb60bd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}